<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Stank Kudrow's Porfolio</title>
	<meta name="description" content="porfolio page">
	<meta name="author" content="Stan Kudrow">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	
	<!-- Font awesome -->
	<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
	<!-- JS
  ================================================== -->
	<script src="javascripts/jquery-min.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/backbone-min.js"></script>
  <script src="javascripts/d3.v3.min.js"></script>
	<!-- include backbone files -->
	<script src="javascripts/backbone/models/ProjectModel.js"></script>
	<script src="javascripts/backbone/views/ProjectView.js"></script>
	<script src="javascripts/backbone/views/ProjectCollectionView.js"></script>
	<script src="javascripts/backbone/collections/ProjectCollection.js"></script>
	<script src="javascripts/app.js"></script>
</head>
<body>
	<!-- underscore templates -->
	<script type="text/template" id="project-template">
			<i class="fa fa-cogs"></i>
			<strong><%= name %></strong>: <%= description %>
			<div class='list-indent'>
				<a href="<%= demo_url %>" target="_blank"><img class="screen-shot" src="<%= image_url %>"></a>
				<p><a href="<%= github_url %>">Github</a></p>
		  </div>
	</script>
	<!-- container -->
	<div id="main" class="container">
		<div class="sixteen columns">
			<h1 class="remove-bottom margin-top name">Stan<span class="spacing"> </span>Kudrow </h1>
			<h5>Developer/Skydiver</h5>
			<!-- <hr /> -->
		</div>
		<div class="sixteen columns">
			<img src="images/skydiving_mid.jpg"/>
		</div>
		<div class="eight columns">
			<h3>What can I do?</h3>
			<ul>
				<li><i class="fa fa-terminal skill"></i> Ruby on Rails</li>
				<li><i class="fa fa-terminal skill"></i> Javascript/jQuery/Backbone.js</li>
				<li><i class="fa fa-terminal skill"></i> MySQL/PostgreSQL</li>
				<li><i class="fa fa-terminal skill"></i> HTML5/CSS3
				<li><i class="fa fa-terminal skill"></i> Ubuntu/MacOS/Windows
			</ul>
		</div>
		<div class="eight columns">
			<h3>Who am I?</h3>
			<p>
				Hi, I'm Stan. I was born in Ukraine and moved to the U.S. when I was 12 years old. I enjoy coding, skydiving and all kinds of icecream(Ben & Jerry's Red Velvet Cake is currently my favorite).
			</p>
		</div>
		<hr />
		<div class="sixteen columns">
			<h3>What did I build?</h3>
		<div class="twelve columns offset-by-four">
			

			<ul class='list-indent' id="project-list">
			</ul>
		</div>
		
	</div>
<!-- End Document
================================================== -->
</body>
</html>