<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Stank Kudrow's Porfolio</title>
	<meta name="description" content="porfolio page">
	<meta name="author" content="Stan Kudrow">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/styles.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	
	<!-- Font awesome -->
	<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/font-awesome/css/font-awesome.min.css">
	<!-- JS
  ================================================== -->
	<script src="javascripts/jquery-min.js"></script>
  <script src="javascripts/underscore-min.js"></script>
  <script src="javascripts/backbone-min.js"></script>
  <script src="javascripts/d3.v3.min.js"></script>
	<!-- include backbone files -->
	<script src="javascripts/backbone/models/ProjectModel.js"></script>
	<script src="javascripts/backbone/views/ProjectView.js"></script>
	<script src="javascripts/backbone/views/ProjectCollectionView.js"></script>
	<script src="javascripts/backbone/collections/ProjectCollection.js"></script>
	<script src="javascripts/app.js"></script>
</head>
<body>
	<!-- underscore templates -->
	<script type="text/template" id="project-template">
		<div class="ten columns">
			<i class="fa fa-cogs"></i>
			<strong><%= name %></strong>: <%= description %>
			<div class='list-indent'>
				<a href="<%= demo_url %>" target="_blank"><img class="screen-shot" src="<%= image_url %>"></a>
				<p><a href="<%= github_url %>">Github</a></p>
		  </div>
		 </div>
		 <div class="five columns">
		 	<h4>Technology used:</h4>
		 	<ul>
					<li><i class="fa fa-terminal"></i><%= tech1 %></li>
					<li><i class="fa fa-terminal"></i><%= tech2 %></li>
					<li><i class="fa fa-terminal"></i><%= tech3 %></li>
			</ul>
		 </div>
	</script>
	<!-- container -->
	<div id="main" class="container">
		<header class="sixteen columns">
			<h1 class="remove-bottom margin-top name">Stan<span class="spacing"> </span>Kudrow </h1>
			<h5>Developer/Skydiver</h5>
		</header>
		<figure class="sixteen columns">
			<img src="images/skydiving_mid.jpg" alt="People skydiving from an airplane" />
		</figure>
		<!-- about me -->
		<section class="six columns offset-by-two">
			<h3>What can I do?</h3>
			<ul>
				<li><i class="fa fa-terminal skill"></i> Python/Go/SQL/JavaScript/Bash</li>
				<li><i class="fa fa-terminal skill"></i> Apache Airflow/Spark/Kafka</li>
				<li><i class="fa fa-terminal skill"></i> Snowflake/Deltalake/Redshift/BigQuery</li>
				<li><i class="fa fa-terminal skill"></i> PostgreSQL/MySQL</li>
				<li><i class="fa fa-terminal skill"></i> Redis/DynamoDB</li>
			</ul>
		</section>
		<section class="six columns">
			<h3>Who am I?</h3>
			<p>
				I am a software engineer focused on Data and Distributed Systems with
				experience in ETL pipelines, Data APIs, Microservices, Lambda Architecture and Data Warehousing.
			</p>
		</section>
	</div>
<!-- End Document
================================================== -->
</body>
</html>
