body {
	background-color: #FFFBED;
	font-size: 16
}

h1, h2, h3, h4, h5, h6 {
	color: #30394F;
}

.container {
	/*for the fade-in effect*/
	display:none;
	background-color: #FFFBED;
	color: #30394F;
	font-size: 1.1em;
}

.fa-terminal {
	font-size: 1.3em;
}

.list-indent {
   list-style: none;
   margin-left: 0;
   padding-left: 1em;
   text-indent: -0.7em;
}

.screen-shot {
	opacity: 0.4;
}